
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <style>
        form {
            text-align: center;
        }

        label {
            display: inline-block;
            width: 100px;
            text-align: right;
            font-family: "Helvetica Neue", sans-serif;
        }

        input[type="text"], input[type="submit"] {
            padding: 10px;
            margin: 5px;
            border-radius: 5px;
        }

        input[type="submit"] {
            width: 100px;
        }
    </style>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <input type="hidden" th:field="*{id}" th:value="*{id}"/>
    <label for="name">Username:</label>
    <input type="text" th:field="*{username}" th:name="*{username}" id="name"/>
    <br><br>
    <label for="salary">Salary:</label>
    <input type="text" th:field="*{salary}" th:name="*{salary}" id="salary"/>
    <br><br>
    <label for="password">Password:</label>
    <input type="text" th:field="*{password}" th:name="*{password}" id="password"/>
    <br><br>
    <label>Roles:</label>
    <span th:each="role : ${allRoles}">
        <input type="checkbox" name="selectedRoles"
               th:text="${role.name}" th:value="${role.id}" />
    </span>
    <br><br>
    <input type="submit" value="Save"/>
</form>


</body>
</html>
